h2{
    text-align: center;
    font-family: ;
}


#gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 29%);
    row-gap: 30px;
    height: 100%;
    padding: 1px;
}

.gridItem img{
    width: 100%;
    height: 100%;
}

#Container{
    width: 50%;
    height: 100%;
}

#item1{
    margin-right: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
}

#item2{
    margin-right: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
}

#item3{
    margin-right: 10px;
    grid-row-start: 3;
    grid-row-end: 4;
}

#mainItem{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 10px;
    margin-right: 10px;
}


#productDescription{
    background-color: bisque;
    width: 50%;
    /* padding: 10px 100px 10px 100px; */
    text-align: center;
}

#productContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 500px;
    margin: auto;
 }